<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>系统管理
            <small>用户管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>系统管理</el-breadcrumb-item>
            <el-breadcrumb-item>用户管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <!--搜索输入下拉框-->
                <el-autocomplete class="inline-input"
                                 v-model="pagination.queryString"
                                 :fetch-suggestions="querySearch"
                                 placeholder="用户名/联系电话"
                                 :trigger-on-focus="false" style="width: 200px;"
                                 @select="handleSelect">
                    <i class="el-icon-edit el-input__icon"
                       slot="suffix"></i>
                    <template slot-scope="{ item }">
                        <div class="name">{{ item.value }}</div>
                    </template>
                </el-autocomplete>
                <el-button type="success" plain @click="findPage()" class="dalfBut" icon="el-icon-search">查询</el-button>
                <el-button type="primary" plain class="butT" @click="handleCreate()" icon="el-icon-circle-plus-outline">
                    新增
                </el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="username" label="用户名" align="center"></el-table-column>
                <el-table-column prop="telephone" label="联系电话" align="center"></el-table-column>
                <el-table-column label="性别" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.gender == '1' ? '男' : scope.row.gender == '2' ? '女' : '未知'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="birthday" label="生日" align="center"></el-table-column>
                <el-table-column prop="remark" label="备注" align="center"></el-table-column>
                <el-table-column label="状态" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.station == '1' ? '启用' : scope.row.station == '2' ? '不启用' : '未知'}}</span>
                    </template>
                </el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)"
                                   icon="el-icon-edit"></el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)"
                                   icon="el-icon-delete"></el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增用户" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px" :rules="rules" ref="formData"
                                         :model="formData">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="用户名" prop="username">
                                                <el-input v-model="formData.username"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="生日">
                                                <el-date-picker v-model="formData.birthday"
                                                                type="date"
                                                                placeholder="选择日期"
                                                                value-format="yyyy-MM-dd"
                                                                :picker-options="pickerOptions">
                                                </el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="密码" prop="password">
                                                <el-input v-model="formData.password" type="password" id="passwrod1"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="性别">
                                                <el-select v-model="formData.gender">
                                                    <el-option label="未知" value="0"></el-option>
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="联系电话" prop="telephone">
                                                <el-input v-model.number="formData.telephone"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="状态">
                                                <el-select v-model="formData.station">
                                                    <el-option label=无 value="0"></el-option>
                                                    <el-option label="启用" value="1"></el-option>
                                                    <el-option label="不启用" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="备注">
                                                <el-input v-model="formData.remark"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="角色信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>角色名称</th>
                                            <th>角色关键字</th>
                                            <th>描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="roleIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd('formData')">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="修改用户" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px" :rules="rules" ref="formData"
                                         :model="formData">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="用户名" prop="username">
                                                <el-input v-model="formData.username"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="生日">
                                                <!-- <el-date-picker
                                                         v-model="formData.birthday"
                                                         type="date"
                                                         placeholder="选择日期">
                                                 </el-date-picker>-->
                                                <el-date-picker v-model="formData.birthday"
                                                                type="date"
                                                                placeholder="选择日期"
                                                                value-format="yyyy-MM-dd"
                                                                :picker-options="pickerOptions">
                                                </el-date-picker>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12" prop="password">
                                            <el-form-item label="密码">
                                                <el-input placeholder="默认原密码" v-model="formData.password" show-password="true"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="性别">
                                                <el-select v-model="formData.gender">
                                                    <el-option label="未知" value="0"></el-option>
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12" prop="telephone">
                                            <el-form-item label="联系电话">
                                                <el-input v-model.number="formData.telephone"></el-input>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="状态">
                                                <el-select v-model="formData.station">
                                                    <el-option label=无 value="0"></el-option>
                                                    <el-option label="启用" value="1"></el-option>
                                                    <el-option label="不启用" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="备注">
                                                <el-input v-model="formData.remark"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="角色信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>角色名称</th>
                                            <th>角色关键字</th>
                                            <th>描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="roleIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.keyword}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit('formData')">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            input: '',
            activeName: 'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关属性
                currentPage: 1,
                pageSize: 10,
                total: 100,
                queryString: null,
            },
            dataList: [],//列表数据
            formData: {},//表单数据
            tableData: [],//新增和编辑表单中对应的角色列表数据
            roleIds: [],//新增和编辑表单中角色对应的复选框，基于双向绑定可以进行回显和数据提交
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit: false,//控制编辑窗口显示/隐藏
            username: '',
            password: '',
            telephone: '',
            rules: {//校验规则
                username: [{required: true, message: '用户姓名为必填项', trigger: 'blur'}],
                telephone: [{required: true, message: '手机号码为必填项', trigger: 'blur'},
                    {type: 'number', message: '手机号必须为数字值', trigger: 'blur'}],
                password: [{required: true, message: '密码为必填项', trigger: 'blur'}]
            },
            usernamesNPhone: [],
            item: {},
            //当前日期以后禁用
            pickerOptions: {
                disabledDate(time) {
                    return time.getTime() > Date.now(); //今天之后禁用
                }
            },
        },
        created() {
            this.findPage();
        },
        mounted() {
            axios.post("/user/findUsernamesAndPhone.do").then(response => {
                if (response.data.flag) {
                    this.usernamesNPhone = response.data.data;
                } else {
                    this.$message({
                        message: response.data.message,
                        type: 'error'
                    });
                }
            });
        },
        methods: {
            //编辑
            handleEdit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post("/user/edit.do?roleIds=" + this.roleIds, this.formData).then(res => {
                            this.resetForm();
                            //弹出窗口
                            this.dialogFormVisible4Edit = false;
                            this.$message({
                                message: res.data.message,
                                type: res.data.flag ? 'success' : 'error'
                            });
                            this.findPage();//分页查询
                        })
                    }})
            },
            //添加
            handleAdd(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        //提交表单数据  提交角色(user)以及勾选检查项ids Integer[] roleIds
                        axios.post("/user/add.do?roleIds=" + this.roleIds, this.formData).then(res => {
                            this.resetForm();
                            //弹出窗口
                            this.dialogFormVisible = false;
                            this.$message({
                                message: res.data.message,
                                type: res.data.flag ? 'success' : 'error'
                            });
                            this.findPage();//分页查询
                        })}
                })
            },
            //分页查询
            findPage() {
                var parms = {
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString
                }

                axios.post("/user/findPage.do", parms).then(res => {
                    //后台返回的是PageResult total rows
                    this.pagination.total = res.data.total;
                    this.dataList = res.data.rows;
                })
            },
            // 重置表单
            resetForm() {
                this.formData = {};
                this.roleIds = [];
                this.activeName = 'first';
            },
            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                this.dialogFormVisible = true;
                axios.post("/role/findAll.do").then(res => {
                    //res.data;//Result对象
                    if (res.data.flag) {
                        this.tableData = res.data.data;
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                    } else {
                        this.$message.error(res.data.message);

                    }
                })

            },
            // 弹出编辑窗口
            handleUpdate(row) {
                //弹出编辑窗口
                this.dialogFormVisible4Edit = true;
                // 并回显用户
                axios.get("/user/findById.do?userId=" + row.id).then(res => {
                    this.formData = res.data.data;//回显用户数据
                    this.$message({
                        message: res.data.message,
                        type: 'success'
                    });
                    //查询所有角色
                    axios.post("/role/findAll.do").then(res => {
                        this.tableData = res.data.data;//回显所有角色数据
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                        // 关联的角色   根据用户id 查询角色ids
                        axios.get("/user/findRoleIdsByUserId.do?userId=" + row.id).then(res => {
                            //后台返回的List<Integer> [28,29,30]
                            this.roleIds = res.data;//回显的角色勾选
                        })
                    })
                })
            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },

            // 删除
            handleDelete(row) {
                this.$confirm('此操作将永久删除此用户, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //发送删除请求
                    axios.get("/user/deleteById.do?id=" + row.id).then(res => {
                        this.$message({
                            message: res.data.message,
                            type: res.data.flag ? 'success' : 'error'
                        });
                        this.findPage();//分页查询
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            //搜索获取以及匹配下拉框数据
            querySearch(queryString, cb) {
                var usernamesNPhone = this.usernamesNPhone;
                var results = queryString ? usernamesNPhone.filter(this.createFilter(queryString)) : usernamesNPhone;
                // 调用 callback 返回建议列表的数据
                cb(results);
            },
            createFilter(queryString) {
                return (usernamesNPhone) => {
                    return (usernamesNPhone.value.toLowerCase().indexOf(queryString.toLowerCase()) !== -1);
                };//在usernamesNPhone中查询包含queryString的数据
            },
            handleSelect(item) {
                this.pagination.queryString = item.value; //将输入框数据绑定选择的数据
                this.findPage();
            },

        }
    });
</script>
</html>
